html,body{
  background:#2F4F4F;
}
h1{
  font: 2em Arial, Verdana, sans-serif;
  color: gray;
  justify-content: center;
}
.flowRight {
	margin-left: 10px;
	float: right;
}
.flowLeft {
	margin-right: 10px;
	float: left;
}
